/*
-----------------------
ESTILO GERAL DA PAGINA E ESTRUTURA
-----------------------
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/fundo_site.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters {
    margin-top: 20px;
}

.header-title {
    display: block;
    margin: 0;
    font-size: 1.8em;
    line-height: 1.2;
}

.sub-title {
    text-align: center;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.header-row, .data-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.header-cell, .data-cell {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.data-cell {
    font-weight: normal;
}

/*
-----------------------
RESPONSIVIDADE POR TAMANHO DE TELA
-----------------------
*/
@media (max-width: 600px) {
    .header-title {
        font-size: 1.5em;
    }

    .header-cell, .data-cell {
        font-size: 0.8em;
        padding: 5px;
    }

    .container {
        padding: 10px;
    }
}

/*
-----------------------
BOTÃO DOWNLOAD DO PDF
-----------------------
*/
.download-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
.download-button:hover {
    background-color: #45a049;
}


/*
-----------------------
BOTÃO DE LEGENDA
-----------------------
*/
.legend-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    float: right;
    margin-top: -15px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.legend-button:hover {
    background-color: #0056b3;
}

/* PÁGINA DA LEGENDA */
.legend {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    max-width: 600px;
}

.legend ul {
    padding-left: 20px;
}

.back-button {
    display: block;
    margin: 20px auto;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}